# Dependencies
node_modules/

# Android build artifacts
android/build/
android/.gradle/
android/app/build/
*.ap_
*.apk
*.keystore
!debug.keystore

# Metro / React Native
.expo/
.buckd/
.bundle/
vendor/bundle/
*.patch

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*